body {
  font-size: 16px;
  color: #fff;
  background-color: #ffffff;
  font-family: "Oxygen", sans-serif;
}
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}
#main-content {
  background-color: #ffffff;
}
.container {
  width: 100%;
  margin: auto;
}
.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 {
  font-family: "Lora", serif;
  color: rgb(12, 241, 241);
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}
.navbar-header {
  margin-top: 0;
  height: 60px;
}
button.navbar-toggle {
  margin-top: 10px;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 2px solid rgb(12, 241, 241);
}
#nav-list {
  margin-top: 20px;
}
#nav-list hr {
  width: 100%;
}
#nav-list span {
  color: rgb(12, 241, 241);
  background-color: grey;
  text-align: center;
  width: 100%;
  font-size: 1.7em;
}
#nav-list span a {
  text-decoration: none;
  color: rgb(12, 241, 241);
}
#nav-list span a:hover {
  text-decoration: underline;
}
#main-page-title {
  color: #000000;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}
#main-page {
  background-color: grey;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 25px;
}
#text-title1,
#text-title2,
#text-title3 {
  color: rgb(12, 241, 241);
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

#back {
  font-family: "Lora", serif;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  padding-bottom: 20px;
}
